.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: v.$web_inner_width;
  margin: 20px auto 50px;

  .images-container {
    @include mix.flex_box;
    gap: 20px;

    .img {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 390px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .desc {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 26px;
      color: v.$secondary_color;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  .slogan {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 26px;
    color: v.$secondary_color;
  }
  .title {
    font-size: 2.4rem;
    line-height: 32px;
    color: v.$primary_color;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    text-transform: capitalize;
    text-align: center;

    &::before,
    &::after {
      content: "";
      width: 32%;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      border-top: 1px solid v.$sub_color;
      border-bottom: 1px solid v.$sub_color;
    }

    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}
