.wrapper {
  @include mix.flex_box;
  border: none;
  transition: 0.3s;
  cursor: pointer;

  &.primary {
    @include mix.btn(200px, 40px, 4px); //nút đen chữ trắng
    color: v.$white_color;
    background-color: v.$primary_color;
  }

  &.small {
    @include mix.btn(30px, 30px, 4px); // Nút trắng viền xám
    border: 1px solid v.$sub_color;
    color: v.$primary_color;
    background-color: v.$white_color;
  }

  &.large {
    width: 100%;
    padding: 15px 0;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
}
