.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  margin-top: 30px;
  max-width: v.$web_inner_width;
  width: 100%;

  .left-content {
    flex: 1 1 60%;
  }
  .right-content {
    flex: 1 1 40%;
  }

  @media (max-width: 1024px) {
    flex-direction: column; // Trên máy tính bảng/mobile thì xếp chồng lên nhau
  }
}

@media (max-width: 739px) {
  .left-content {
    flex: 1;
  }
}
