.wishList {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.wishList-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .viewWishList-btn,
  .addAll-btn {
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    color: v.$primary_color;
    border-radius: 4px;
    padding: 10px 23px;

    &:hover {
      opacity: 0.7;
    }
  }
}
.viewWishList-btn {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  display: block;
  text-align: center;
}
.addAll-btn {
  color: v.$primary_color;
  background-color: v.$white_color;
  border: 1px solid v.$primary_color;

  &:hover {
    background-color: v.$primary_color;
    color: v.$white_color;
  }
}
