.icon {
  @include mix.btn(30px, 30px, 50%, v.$primary_color);
  position: relative;

  path {
    fill: v.$white_color;
  }
}
.count {
  position: absolute;
  top: -10px;
  right: -4px;
  color: v.$white_color;
  background-color: v.$secondary_color;
  padding: 5px;
  font-size: 0.8rem;
  @include mix.borderRadius(8px);
}
