.icon {
  @include mix.btn(30px, 30px, 50%);
  position: relative;
  background-color: v.$primary_color;

  path {
    fill: v.$white_color;
  }

  span {
    @include mix.flex_box;
  }
  &:hover {
    opacity: 1;
  }
}
.count {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  color: v.$white_color;
  background-color: v.$secondary_color;
  padding: 5px;
  font-size: 0.8rem;
  top: -10px;
  right: -10px;
}
