.img-container {
  width: 100%;
  position: relative;
  cursor: pointer;

  &:hover .actions {
    opacity: 1;
    animation: slide-rtf 0.4s ease-out forwards;
  }

  &:hover {
    .main-img {
      opacity: 0;
    }
    .hover-img {
      opacity: 1;
    }
  }
}

@keyframes slide-rtf {
  from {
    transform: translate(50%, -50%);
  }
  to {
    transform: translate(0%, -50%);
  }
}
@keyframes slide-ltr {
  from {
    transform: translate(0%, -50%);
  }
  to {
    transform: translate(50%, -50%);
  }
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.hover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.actions {
  background-color: v.$white_color;
  position: absolute;
  top: 50%;
  right: 16px;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-50%);
  animation: slide-ltr 0.4s ease-out forwards;

  button {
    padding: 10px;
    font-size: 16px;
    background-color: v.$white_color;
    transition: 0.5s;
    &:hover {
      background-color: #d9d9d9;
    }
    path {
      fill: v.$secondary_color;
    }
  }
}

.card-information {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.variants {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 4px;

  .size {
    padding: 8px;
    color: v.$primary_color;
    border: 1px solid v.$white_color;
    width: 34px;
    height: 34px;
    border-radius: 52px;

    &:hover {
      border: 1px solid v.$primary_color;
    }

    &.activeSize {
      border: 1px solid v.$primary_color;
    }
  }
}

.card-title {
  margin-bottom: 5px;
  font-weight: 400;
  color: v.$primary_color;
  cursor: pointer;
}

.price {
  font-size: 1.4rem;
  color: v.$secondary_color;
  margin-bottom: 7px;
  cursor: pointer;
}
.ATC-btn {
  text-transform: uppercase;
  width: 145px;
  height: 35px;
  border: 1px solid v.$primary_color;
  font-size: 1.2rem;

  &:hover {
    background-color: v.$white_color;
    color: v.$primary_color;
    opacity: 1;
  }
}
