.slide-container {
  position: fixed;
  inset: 0;
  z-index: 99;
  visibility: hidden;

  &.active {
    visibility: visible;

    .slider {
      transform: translateX(0);
    }
  }
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.slider {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: v.$white_color;
  padding: 20px 30px;
  min-width: 300px;
  transform: translateX(100%);
  transition: 0.6s;
}
.close-btn {
  position: absolute;
  top: 20px;
  left: -45px;
  border-radius: 50%;
  padding: 10px;
  background-color: v.$white_color;

  &:hover {
    opacity: 0.6;
  }
}
