.product-table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
    letter-spacing: 1px;
  }

  td {
    padding: 25px 0;
    border-bottom: 1px solid #eee;
    font-size: 1.4rem;
    vertical-align: middle;
  }
}
.details {
  flex: 1;
}
.product-info {
  display: flex;
  align-items: start;
  gap: 20px;
  position: relative;

  img {
    width: 80px;
    object-fit: cover;
    cursor: pointer;
  }
  .name {
    font-weight: 500;
    margin: 0;
    color: v.$primary_color;
    cursor: pointer;
  }
  .size {
    color: #999;
    font-size: 1.2rem;
    margin-top: 4px;
  }
  .size-value {
    color: v.$secondary_color;
  }
}
.remove-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
  color: #dbdbdb;
  transition: 0.2s;
  &:hover {
    color: v.$primary_color;
  }
}
.mobile-detail {
  display: none;
}
.quantity-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .quantity-input {
    width: 50px;
  }
}

.subtotal-price {
  font-weight: 600;
}

.coupon-section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  gap: 10px;

  .coupon-input {
    display: flex;
    border: 1px solid #e5e5e5;
    outline: none;
    input {
      border: none;
      padding: 12px 15px;
      outline: none;
      width: 200px;
    }
    button {
      border: none;
      border-left: 1px solid #e5e5e5;
      background: #fff;
      padding: 0 20px;
      cursor: pointer;
      font-weight: 600;
      &:hover {
        background: #f9f9f9;
      }
    }
  }
}
.clear-btn {
  background: #fff;
  border: 1px solid #222;
  padding: 12px 25px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  height: 42px;
  &:hover {
    background: #222;
    color: #fff;
  }
}

@media (max-width: 739px) {
  .mobile-detail {
    display: flex;
    justify-content: space-between;
    flex: 1;
    font-size: 12px;
    color: #999;
  }
  .detail {
    flex: 1;
  }
  .subtotal-price {
    display: flex;
    align-items: center;
    color: v.$primary_color;
    font-size: 1.4rem;
  }
  .desktop-detail {
    display: none;
  }
  .remove-btn {
    padding: 8px;
    right: 120px;
  }
  .quantity-box {
    gap: 10px;
  }
  .clear-btn {
    padding: 12px 16px;
  }
}
