.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: v.$header_spacerTop 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: v.$web_inner_width;
  height: v.$header_height;
  // background-color: #e7b5cb;
}
//box icon
.box-icon {
  display: flex;
  gap: 8px;
}
//logo
.logo img {
  width: 100%;
  height: v.$header_height;
  cursor: pointer;
}
//nav menu
.nav-menu {
  @include mix.flex_box;
  gap: 20px;
  height: 100%;
}
