.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  padding: v.$header_spacerTop 0;
  z-index: 10;
  &.sticky {
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.15);
    background-color: v.$white_color;
    animation: slideDown ease-out 0.5s forwards;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: v.$web_inner_width;
  height: v.$header_height;
}
//box icon
.box-icon {
  display: flex;
  gap: 8px;
  align-items: center;
}
//logo
.logo img {
  width: 100%;
  height: v.$header_height;
  cursor: pointer;
}
//nav menu
.nav-menu {
  @include mix.flex_box;
  gap: 20px;
  height: 100%;
}

.right-menu,
.left-menu {
  display: flex;
  gap: 20px;
  flex: 1;
}
.left-menu {
  justify-content: flex-start;
}

.right-menu {
  justify-content: flex-end;
}
