.select-wrapper {
  position: relative;
}
.arrow-input {
  position: absolute;
  right: 4px;
  top: 7px;
  color: v.$secondary_color;
  pointer-events: none;
  font-size: 1.4rem;
}

.select-input {
  padding: 8px 20px 8px 8px;
  color: v.$secondary_color;
  font-size: 1.4rem;
  border: 1px solid v.$sub_color;
  appearance: none; // Ẩn mũi tên mặc định của trình duyệt
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: center;

  &.small {
    padding: 4px 20px 4px 8px;
    & + .arrow-input {
      top: 4px;
    }
  }
}
