.summary-box {
  border: 1px solid v.$primary_color;
  padding: 25px;
}
.title {
  margin-bottom: 15px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid v.$sub_color;
  margin-bottom: 15px;
}

.product-info {
  display: flex;
  gap: 15px;
}

.product-img {
  width: 80px;
  object-fit: contain;
  cursor: pointer;
}

.product-name {
  font-weight: 500;
  cursor: pointer;
  font-size: 1.4rem;
}

.product-meta {
  font-size: 1.2rem;
  color: #777;
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-price {
  flex: 1;
}
.remove-btn {
  background-color: transparent;
  text-decoration: underline;
  padding: 10px 0;
  font-size: 1.4rem;

  &:hover {
    opacity: 0.6;
  }
}

.summary-row {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid v.$sub_color;
  font-size: 1.4rem;

  &.total {
    font-weight: bold;
    font-size: 1.6rem;
  }
}

.total-price {
  font-size: 2rem;
}

.payment-methods {
  background: #f9f9f9;
  padding: 15px;
  margin-top: 20px;
}

.payment-option {
  margin-bottom: 15px;
  label {
    margin-left: 10px;
    font-weight: 500;
    cursor: pointer;
  }
  .payment-desc {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
    padding-left: 25px;
    height: 0;
    transition: 0.4s;
    overflow: hidden;
  }
  input.active ~ .payment-desc {
    height: 55px;
  }
}

.place-order-btn {
  width: 100%;
  background-color: v.$primary_color;
  color: #fff;
  border: 1px solid v.$primary_color;
  padding: 15px;
  margin: 20px 0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: v.$white_color;
    color: v.$primary_color;
  }
}

.secure-text {
  font-size: 1.2rem;
  text-align: center;
}
