.intro-container {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}
.title {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 26px;
  color: v.$thr_color;
}
.desc h2 {
  min-width: 200px;
  white-space: nowrap;
  color: v.$primary_color;
  font-size: 2.4rem;
  line-height: 32px;
  margin: 0 16px;
  text-transform: capitalize;
}
.desc {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.left-line {
  position: relative;
  display: block;
  justify-self: start;
  flex: 1;
  line-height: 1;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 90%;
    border-bottom: 4px double v.$sub_color;
    transform: translateY(-50%);
  }
}

.right-line {
  position: relative;
  display: block;
  justify-self: end;
  flex: 1;
  line-height: 1;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 90%;
    border-bottom: 4px double v.$sub_color;
    transform: translateY(-50%);
  }
}
