@import url("https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: v.$font_family;
  line-height: 1.5;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
}
a[href] {
  text-decoration: none;
  color: v.$primary-color;
}
