//checkout form
.title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid v.$sub_color;
}

.row {
  display: flex;
  gap: 20px;
  & > div {
    flex: 1;
  }
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.4rem;
}

.input-group {
  margin-bottom: 20px;
}
.country-input {
  font-size: 1.6rem;
  color: v.$thr_color;
}
.note-input {
  height: 100px;
  padding: 16px;
}
