.banner {
  @include mix.flex_box;
  width: 100%;
  min-height: 750px;
  background-size: cover;
  background-position: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 4.2rem;
    color: #222;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 52px;
  }
  .description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 25px;
    color: v.$thr_color;
    margin-bottom: 20px;
  }
  .btn {
    width: 175px;
    height: 42px;
  }
}
.btn {
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid v.$primary_color;
  background-color: v.$primary_color;
  margin-top: 20px;

  &:hover {
    background-color: v.$white_color;
    color: v.$black_color;
  }
}
