.product-item {
  @include mix.flex_box;
  align-items: start;
  gap: 20px;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 12px;
}

.product-img {
  max-width: 70px;
  max-height: 100px;
  object-fit: cover;
}

.product-content {
  display: flex;
  flex-direction: column;
}

.product-title {
  .product-link {
    font-size: 1.5rem;
    color: v.$primary_color;
    font-weight: 400;
  }
}

.cart-attribute {
  color: v.$secondary_color;
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.product-description {
  color: v.$primary_color;
  font-size: 1.4rem;
}

.quantity-box {
  @include mix.flex_box;
  justify-content: start;
  margin-bottom: 5px;
}

.product-price {
  font-size: 1.4rem;
  color: v.$thr_color;
}
