.product-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  gap: 20px;
  border-bottom: 1px solid v.$sub_color;
  padding: 20px 12px;
  transition: 0.4s;
  position: relative;

  &:hover {
    background-color: v.$sub_color;
  }

  .close-btn {
    background-color: transparent;
    position: absolute;
    top: 9px;
    right: 0px;
    color: #888;
    font-size: 1.2rem;
    cursor: pointer;
    color: v.$secondary_color;
    visibility: hidden;
    padding: 4px;
  }
  &:hover .close-btn {
    visibility: visible;
    animation: slideIn linear 0.3s forwards;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.product-img {
  max-width: 70px;
  max-height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.product-content {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex: 1;
}

.product-title {
  font-size: 1.5rem;
  color: v.$primary_color;
  font-weight: 400;
}

.cart-attribute {
  color: v.$secondary_color;
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.product-description {
  color: v.$primary_color;
  font-size: 1.4rem;
}

.quantity-box {
  @include mix.flex_box;
  justify-content: start;
  margin-bottom: 5px;
}

.product-price {
  font-size: 1.4rem;
  color: v.$thr_color;
  margin-left: 6px;
}
